@inherits LayoutComponentBase
@using Microsoft.Fast.Components.FluentUI

<FluentDesignSystemProvider>
    <FluentCard>
        <FluentNav>
            <FluentAnchor Href="/" Appearance="Appearance.Stealth">🏠 Home</FluentAnchor>
            <FluentAnchor Href="/photos" Appearance="Appearance.Stealth">📷 Photos</FluentAnchor>
            <FluentAnchor Href="/upload" Appearance="Appearance.Stealth">⬆️ Upload</FluentAnchor>
        </FluentNav>
    </FluentCard>

    <FluentCard>
        <main>
            @Body
        </main>
    </FluentCard>
</FluentDesignSystemProvider>
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
