@inherits LayoutComponentBase

<FluentDesignSystemProvider>
    <FluentCard>
        <FluentNavMenu>
            <FluentNavItem><FluentAnchor href="/">🏠 Home</FluentAnchor></FluentNavItem>
            <FluentNavItem><FluentAnchor href="/photos">📷 Photos</FluentAnchor></FluentNavItem>
            <FluentNavItem><FluentAnchor href="/upload">⬆️ Upload</FluentAnchor></FluentNavItem>
            <FluentNavItem><FluentAnchor href="/login">🔑 Login</FluentAnchor></FluentNavItem>
        </FluentNavMenu>
    </FluentCard>

    <FluentCard>
        <main>
            @Body
        </main>
    </FluentCard>
</FluentDesignSystemProvider>
