/* Labels for inputs */
label {
    color: black;
    font-weight: bold;
}

h2 {
    color: black;
    font-weight: bold;
}


/* Choose File button text */
input[type="file"] {
    color: black; /* For file input text color */
}

/* Styling for the upload container */
.upload-photo-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.upload-warning {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-column,
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    gap: 10px;
}

.photo-preview {
    text-align: center;
    border: 1px dashed #ccc;
    padding: 10px;
    background-color: #eee;
    margin-top: 20px;
}
