/* Labels for inputs */
label {
    color: black;
    font-weight: bold;
}

h2 {
    color: black;
    font-weight: bold;
}
body {
    align-items: center;
    font-family: Arial, sans-serif;
    color: #453750 !important;
}


/* Choose File button text */
input[type="file"] {
    color: black; /* For file input text color */
}

/* Styling for the upload container */
.upload-photo-container {
    color: #453750;
    width: 45vw;
    height: 45vh;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #73648a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    box-shadow: 5vh 5vh 5vh -0px rgba(0, 0, 0, 0.4);
}

.upload-button {
    border: none;
    background-color: #9882ac; /* African Violet 2 */
    color: #453750;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22vw;
}

.upload-photo-page {
    color: #453750;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100vh;
    width: 100vw; /* full viewport height */
}

.upload-warning {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-container {
    color: #453750;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-column,
.right-column {
    color: #453750;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.button-container {
    display: flex;
    gap: 10px;
}


.photo-preview {
    color: #453750;
    text-align: center;
    border: 1px dashed #ccc;
    padding: 10px;
    background-color: #eee;
    margin-top: -1vh;
    height: 17vh;
    border-radius: 0.5rem;
}
