
fluent-button::part(control) {
    outline: none;
    border: none;
    background-color: #5c4ea2;
}

fluent-button[appearance="accent"] {
    background-color: #676278; /* Your desired accent color */
    color: white !important;
    outline: 0px;
    border: 0px;
    font-family: 'PixelifySans', sans-serif !important;
    font-size: 1.2rem;
    --accent-fill-rest: #5c4ea2;
    --accent-fill-hover: #7160c9;
}

fluent-card{
    border: none;
}

/* Main navigation card styling */
.mainnav {
    padding: 50px 0;
    background-color: #2C253B;
    border-radius: 16px;
    padding: 1vw;
    margin: 1vw;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1000
}

/* Ensure the button container takes full width */
.button-container1 {
    display: flex;
    width: 95%;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    box-sizing: border-box;
}

    /* Ensure buttons stretch evenly and don’t overlap */
    .button-container fluent-button {
        flex: 1; /* Equal space for each button */
        text-align: center;
        white-space: nowrap;
        min-width: 0;
        max-width: 100%; /* Prevent overflow */
    }

.maincontainercontent {
    border-radius: 16px;
    padding: 20px;
    background-color: #2C253B;
    margin: 1vw;
}

body {
    background-color: #2C253B;
    color: white;
    font-family: 'PixelifySans', sans-serif !important;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}